{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Xavier Library Lockout</title>{% endblock %}

{% block content %}

  <!--================Banner Area =================-->
       <section class="banner_area">
           <div class="container">
               <div class="banner_inner_text">
                   <h2>Oops! You're locked out</h2>
				   <p>You've entered too many wrong attempts.</p>
               </div>
           </div>
       </section>
  <!--================End Banner Area =================-->

   <!--================Lockout Area =================-->
        <section class="get_in_touch_area p_100">
            <div class="container">
                <div class="row get_touch_inner">
                    <div style="padding-top: 10%" class="col-lg-5">
						<h2>
							<img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
							<a href="{% url 'books' %}" style="margin-left: -5%"><i><u>Browse Books as guest</u></i></a>
							<br><br>						
							<img src="{% static 'img/icon/f-icon-1.png' %}" alt="">
							<a href="{% url 'signup' %}" style="margin-left: -8%"><i><u>Signup a new account</u></i></a>
							<br><br>
							<img src="{% static 'img/icon/f-icon-3.png' %}" alt="">
							<a href="{% url 'index' %}" style="margin-left: -5%"><i><u>Go to Homepage</u></i></a>
						</h2>
						<br><br>
						<p>Tip: Remember to log the right credentials to prevent lockout!</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="touch_details">
                            <div class="l_title">
								<img src="{% static 'img/icon/title-icon.png' %}" alt="">				
								<h6>Don't panic! It'll pass.</h6>
                                <h2>Please try again after 5 minutes.</h2>
                            </div>
							<img class="img-fluid" style="margin: 0 auto" src="{% static 'img/lockout.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================End Lockout Area =================-->
  
{% endblock %}