{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Xavier Library Login</title>{% endblock %}

{% block content %}

  <!--================Banner Area =================-->
       <section class="banner_area">
           <div class="container">
               <div class="banner_inner_text">
                   <h2>Reset your password</h2>
               </div>
           </div>
       </section>
  <!--================End Banner Area =================-->
  
   <!--================Password Reset Forms Area =================-->
        <section class="get_in_touch_area p_100">
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-5">
                        <form class="contact_us_form row" action="" method="post">
						<table class="table-fit">
						  {% csrf_token %}
						  {% if form.email.errors %}
							{{ form.email.errors }}
						  {% endif %}
						  <tr><td>
						  <div class="form-group col-lg-11">
							  <span style="color: red">* </span>
							  {{ form.email.label_tag }} 
							  {{ form.email }} 
						  </div><br>
						  </td></tr>
						  <tr><td><a href="{% url 'login' %}"><i><u>Go back to Login</u></i></a><br><br></td></tr>
						  <tr><td><a href="{% url 'signup' %}"><i><u>Signup a new account</u></i></a><br><br><br></td></tr>
						  
						  </table>
							<input style="margin: 0 auto" type="submit" class="btn submit_btn form-control" value="Reset">
						</form>
                    </div>
                    <div class="col-lg-7">
                        <div class="touch_details">
                            <div class="l_title">
								<img src="{% static 'img/icon/caution.png' %}" alt="">
                                <h6>User Warning!</h6>
                                <h2>This cannot be undone. Please be cautious.</h2>
                            </div>
							<img class="img-fluid" style="margin-left: 20%" src="{% static 'img/lock.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================End Password Reset Forms Area =================-->
  
{% endblock %}