{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Xavier Library Signup</title>{% endblock %}

{% block content %}

  <!--================Banner Area =================-->
       <section class="banner_area">
           <div class="container">
               <div class="banner_inner_text">
                   <h2>Create your own account</h2>
				   <p>Sign up to become a library member!</p>
               </div>
           </div>
       </section>
  <!--================End Banner Area =================-->

<!--================Signup Forms Area =================-->		
		<section class="get_in_touch_area p_100">
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6">
                        <div>
                            <div class="l_title">
								<img src="{% static 'img/icon/title-icon.png' %}" alt="">
                                <h6>Fill up the form!</h6>
                                <h2>Create an account to get started!</h2>
                            </div>
							<img class="img-fluid" src="{% static 'img/signup.png' %}" alt="">
                        </div>
                    </div>
					<div class="col-lg-6">
                        <form class="contact_us_form row" style="margin: 0 !important" method="post">
						  {% csrf_token %}
						  <table class="table-fit">
						  {% for field in form %}
							<tr><td>
							  <div class="form-group signup-area col-lg-11">
								  {%if field.field.required %}
								  <span style="color: red">* </span>
								  {% endif %}
								  {{ field.label_tag }}
								  {{ field }}
							  </div></td></tr>
							  {% if field.help_text %}
								<tr><td><small style="color: grey">{{ field.help_text }}</small></td></tr>
							  {% endif %}
							  {% for error in field.errors %}
								<tr><td><p style="color: red">{{ error }}</p></td></tr>
							  {% endfor %}
						  {% endfor %}
						  </table>
						  <input style="margin: 0 auto; margin-top: 10%" type="submit" class="btn submit_btn form-control" value="sign up" />
						</form>
                    </div>
                </div>
            </div>
        </section>
    <!--================End Signup Forms Area =================-->

{% endblock %}