{% load static %}

<!--================Footer Area =================-->
        <footer class="footr_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row footer_widget_inner">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_about_widget">
								<img src="{% static 'img/xavier.png' %}" alt="">
                                <p>The main goal of this system is specifically targeted to ease the process of borrowing books from our library.</p><br>
                            </aside>
                        </div>
						<div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_insta_widget">
                                <div class="f_title">
                                    <h3>Follow us on our socials!</h3>
								</div>
                                <ul>
                                    <li><a><img src="{% static 'img/instagram/ins-1.jpg' %}" alt=""></a></li>
                                    <li><a><img src="{% static 'img/instagram/ins-2.jpg' %}" alt=""></a></li>
                                    <li><a><img src="{% static 'img/instagram/ins-3.jpg' %}" alt=""></a></li>
                                    <li><a><img src="{% static 'img/instagram/ins-4.jpg' %}" alt=""></a></li>
                                </ul>
								<div class="d-inline-flex">
									<div class="round-icons"><img src="{% static 'img/icon/fb-icon.png' %}" /></div>
									<div class="round-icons"><img src="{% static 'img/icon/twitter-icon.png' %}" /></div>
									<div class="round-icons"><img src="{% static 'img/icon/instagram-icon.png' %}" /></div>
								</div>
                            </aside>
                        </div>
						<div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_about_widget">
								<p>64 Xavier Street, Greenhills, San Juan, Metro Manila, Philippines.</p><br>
								<p>Contact no. (02) 8723 0481</p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="footer_copyright">
                <div class="container">
                    <div class="float-sm-left">
                        <h5>
						 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </h5>
                    </div>
                    <div class="float-sm-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </footer>
        <!--================End Footer Area =================-->