{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Xavier Library Change Password</title>{% endblock %}

{% block content %}

  <!--================Banner Area =================-->
       <section class="banner_area">
           <div class="container">
               <div class="banner_inner_text">
                   <h2>Change your password</h2>
				   <p>Switch to a different password!</p>
               </div>
           </div>
       </section>
  <!--================End Banner Area =================-->
  
   <!--================Password Change Forms Area =================-->
        <section>
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-5">
                        <form class="contact_us_form row" action="" method="post">
						{% csrf_token %}
						<table class="table-fit">	  
						  {% for field in form %}
						  <tr><td>
						  <div class="form-group col-lg-11">
							  <span style="color: red">* </span>
							  {{ field.label_tag }} 
							  {{ field }}
							  <br></div></td></tr>
							  {% if field.help_text %}
								<tr><td><small style="color: grey">{{ field.help_text }}</small></td></tr>
							  {% endif %}
							  {% for error in field.errors %}
								<tr><td><p style="color: red">{{ error }}</p></td></tr>
							  {% endfor %}
						  {% endfor %}
						  </table>
							  <input style="margin: 10% 25%" type="submit" class="btn submit_btn form-control" value="apply change" /><br>
						  <br>
						  <table class="table-fit">
						  <tr><td><a href="{% url 'user-profile' username=user.username %}"><i><u>Go back to my Profile</u></i></a><br><br></td></tr>
						  </table>
						  
						</form>
                    </div>
                    <div class="col-lg-7">
                        <div class="touch_details">
                            <div class="l_title">
								<img src="{% static 'img/icon/caution.png' %}" alt="">
                                <h6>User Warning!</h6>
                                <h2>Your old password will be overwritten. This process cannot be reverted.</h2>
                            </div>
							<img class="img-fluid" style="margin-left: 20%" src="{% static 'img/lock.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--================End Password Change Forms Area =================-->
  
{% endblock %}